<div class="container">
  <div class="row">
  	<div class="col-sm-12">
  		<label><H2>Oil Paintings</H2></label>
  	</div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">The night watch</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
        	<div class="checkbox">
  				<label><input type="checkbox" value="">Price:Rs.5,909</label>
			</div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">American Gothic</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
        	<div class="checkbox">
  				<label><input type="checkbox" value="">Price:Rs.10,909</label>
			</div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">The scream</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
			<div class="checkbox">
  				<label><input type="checkbox" value="">Price:Rs.2,909</label>
			</div>
		</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
  	<div class="col-sm-12">
  		<label><H2>Water Color Paintings</H2></label>
  	</div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">The night watch</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
        	<div class="checkbox">
  				<label><input type="checkbox" value="">Price:Rs.5,909</label>
			</div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">American Gothic</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
        	<div class="checkbox">
  				<label><input type="checkbox" value="">Price:Rs.10,909</label>
			</div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">The scream</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
			<div class="checkbox">
  				<label><input type="checkbox" value="">Price:Rs.2,909</label>
			</div>
		</div>
      </div>
    </div>
  </div>
</div><br>
